<div class="modal fade membership-signup-complete" tabindex="-1" data-backdrop="static" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">You're all signed up!</h5>
      </div>
      <div class="modal-body">
        <%= image_tag 'redrock/backdrop.jpeg' %>
        <p>
          You've successfully signed up for a joint membership through the Access Fund
          and Southern Nevada Climbers Coalition. You should receive an email shortly
          with further information about your membership.
        </p>
        <p>
          Present this prompt to the signup desk or show them the confirmation email to get your wristband
        </p>
        <p class="order-info">
          Order Confirmation: <strong><%= @membership.order_id %></strong>
        </p>
      </div>
    </div>
  </div>
</div>