<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your support</h1>
    <p>
      Thank you for your joint membership application to the Access Fund
      and Southern Nevada Climbers Coalition! Your membership will the
    </p>
    <p>
      You will receivce an official receipt and further information about your beneits within 1-2 weeks.
    </p>
  </body>
</html>