<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-warning show">
    <p>Please correct the following:</p>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
