<div class="faq-hero">
    <h1>FAQ</h1>
</div>

<div class="faq-content">
    <div class="container">
        <a href="/redrock"><i class="fas fa-arrow-left"></i> Back</a>
        <p class="about">
            Wet Rock Police is a site developed for the purpose of <strong>informing</strong>, not policing (as the name might imply). There are no, and will never be, plans to
            create any form of monitization on this website. Below you will find a list of commonly asked questions; if you have further questions, complaints, or requests
            feel free to email me at <a href="mailto:gmercer015@gmail.com">gmercer015@gmail.com</a>
        </p>

        <ul>
            <li>
                <strong>Where is the precipitation data coming from?</strong>
            </li>
            <li>
                <p>Precipitation data is pulled from a rain guage located at the Red Rock visitor center. Data is updated hourly, and supplied by Synoptic Labs.</p>
            </li>
            <li>
                <strong>Can I trust Wet Rock Police to always show accurate weather information?</strong>
            </li>
            <li>
                <p>
                   Theoretically, yes. In reality, weather is a difficult thing to track and generalize. One should use their best judgement in determining whether the information shown on the landing page is both accurate
                   and relevant to their climbing destination. If you're planning on climbing in Black Velvet for example, and are not sure if it rained, you may want to use other additional resources beyond this site 
                   such as a <a href="https://www.iweathernet.com/total-rainfall-map-24-hours-to-72-hours" target="_blank">radap map</a> or <a href="" target="_blank">local facebook group</a>.
                </p>
            </li>
            <li>
                <strong>Where can I climb if it rained?</strong>
            </li>
            <li>
                <p>
                    Depending on the month, Las Vegas has a handful of different rainy day options. See the <a href="/redrock/rainy-day-options">Rainy Day Crags</a> page for more detailed information.
                </p>
            </li>
            <li>
                <strong>Will this site support other crags?</strong>
            </li>
            <li>
                <p>
                    Depending on the area, yes, there are future plans to expand the site to help out other sandstone areas. Email <a href="mailto:gmercer015@gmail.com">gmercer015@gmail.com</a> if you'd like your own crag to be considered.
                </p>
            </li>
        </ul>
    </div>
</div>