<div class="hero-header-content" id="particles-js">
    <div class="hero-header"></div>
    <div class="shadow-overlay"></div>

    <%= @watched_area %>

    <!-- disabled until the next event -->
    <div class="notification-menu" id="temp-notification" tabindex="0" data-toggle="popover" data-trigger="focus" title="Red Rock Rehab is soon!">
        <i class="fas fa-bell"></i><span class="badge badge-light">1</span>
    </div>

    <div class="hero-container">
        <h1 class="animated bounceInLeft">Did it rain in Red Rock?</h1>
        <span>It's been...</span>
        <div class="row time-since-rain">
            <div class="days card">
                <div class="placeholder" data-role="loading">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <p data-role="days"></p>
                <span data-role="days-label">Days</span>
            </div>
            <div class="hours card">
                <div class="placeholder" data-role="loading">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <p data-role="hours"></p>
                <span data-role="hours-label">Hours</span>
            </div>
            <div class="warning-tooltip animated tada delay-2s">
                <i class="fas fa-exclamation-circle" id="weather-tooltip-warning" data-toggle="tooltip" data-placement="right" title="Precipitation data collected from Red Rock visitor center. Use your best judgement in determening whether this information is relevant to the climbing area you will be in."></i>
            </div>
        </div>
        <span>Since rain last fell in the canyon</span>
        <div class="row call-to-action">
            <button class="btn weather" data-role="scroll-to-weather">Can I Climb?</button> 
            <a class="btn rainy-day-options" href="/redrock/rainy-day-options">Rainy Day Options</a>
        </div>
    </div>

    <a class="plug" target="_blank" href="https://www.instagram.com/zorziphoto/?src=wetrockpolice">
        <i class="fab fa-instagram"></i>
        <p>Photography by David Zorzi</p>
    </a>

    <p class="scroll-down"><i class="material-icons">expand_more</i> Scroll Down</p>
    <div class="vertical-line"></div>
</div>

<div class="weather-breakdown">
    <div class="container">
        <div class="header" data-aos="fade-up">
            <h2>The last recorded precipitation was on</h2>
            <div class="spinner loading-date" data-role="loading-date">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <strong data-role="last-rain-date"></strong>
            <a href="/redrock/faq">Where does this data come from?</a>
        </div>
            
        <div class="content">
            <div class="graph" data-aos="fade-up">
                <div class="graph-switcher">
                    <label class="custom-control-label daily-switch" for="graphSwitch">Daily</label>
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="graphSwitch" type="checkbox">
                        <span class="custom-control-track"></span>
                        <label class="custom-control-label" for="graphSwitch">Hourly</label>
                    </div>
                </div>
                <div class="overflow-wrapper">
                    <div class="graph-render" style="position: relative;">
                        <canvas id="timeSeries"></canvas>
                    </div>
                </div>
            </div>
            <div class="text-content" data-aos="fade-up">
                <div class="text">
                    Generally, you should avoid climbing <strong>24</strong> to <strong>72</strong> hours after rain, depending on where you intend to climb.
                    Sunny locations like <a href="https://www.mountainproject.com/area/105732132/sunny-and-steep" target="_blank">Sunny and Steep</a> or <a href="https://www.mountainproject.com/area/105813478/stratocaster-area" target="_blank">Stratocaster Wall</a> will need much less
                    time to dry when compared to places like <a href="https://www.mountainproject.com/area/105732030/the-black-corridor" target="_blank">Black Corridor</a>
                    <br><br>
                    Las Vegas has <em>plenty</em> of rainy day options, with climbing that rivals Red Rock itself. If you've found yourself in town during a rainy week, check out one of the <a href="http://www.ladylockoff.com/so-it-rained">many surrounding areas</a> we have to offer.
                    <br><br>
                    Not sure why you shouldn't climb when it's wet, or want to read more on how to determine when climbing is OK? Check out <a href="http://www.southernnevadaclimberscoalition.org/climbing-after-rain/" target="_blank">SNCC's write up</a>
                    <a class="btn faq" href="/redrock/faq">FAQ</a>
                </div>
                <div class="content-widget" data-aos="fade-up" id="customize-script-container">
                    <script type='text/javascript' src='https://darksky.net/widget/default/36.13234657827764,-115.43574920166014/us12/en.js?width=300&height=350&title=Calico Basin, NV &textColor=333333&bgColor=transparent&transparency=true&skyColor=undefined&fontFamily=Sans-Serif&customFont=&units=us&htColor=333333&ltColor=C7C7C7&displaySum=yes&displayHeader=yes'></script>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var redRockController = new RedRockController({});

        redRockController.initLandingView();

        $('#temp-notification').popover({
            trigger: 'focus',
            html: true,
            content: 'Support Red Rock by attending a community night hosted by SNCC. Proceeds go towards improving and maintaining climbing at Red Rock.<br><br><a href="http://www.southernnevadaclimberscoalition.org/rehab19/?src=wetrockpolice" target="_blank">Learn More</a>'
        });
    });
</script>