<div class="hero-header" id="particles-js">
    <div class="shadow-overlay"></div>

    <div class="hero-container">
        <h1 class="animated bounceInLeft delay-1s">Did it rain in Red Rock?</h1>
        <span>It's been...</span>
        <div class="row time-since-rain">
            <div class="days card">
                <div class="placeholder" data-role="loading">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <p data-role="days"></p>
                <span data-role="days-label">Days</span>
            </div>
            <div class="hours card">
                <div class="placeholder" data-role="loading">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <p data-role="hours"></p>
                <span data-role="hours-label">Hours</span>
            </div>
        </div>
        <span>Since rain last fell in the canyon</span>
        <div class="row call-to-action">
            <button class="btn weather">Can I Climb?</button> 
            <button class="btn faq">Weather</button>
        </div>
    </div>

    <a class="plug" target="_blank" href="https://www.instagram.com/zorziphoto/">
        <i class="fab fa-instagram"></i>
        <p>Photography by David Zorzi</p>
    </a>

    <p class="scroll-down"><i class="material-icons">expand_more</i> Scroll Down</p>
    <div class="vertical-line"></div>
</div>

<div class="weather-breakdown">
    <div class="header">
        <h3>The last recorded precipitation was on <strong>February 3rd</strong></h3>
        <span>Where does this data come from?</span>
    </div>

    <div class="content">
        
    </div>
</div>



