<%= render :partial => 'watched_area_landing', :locals => { :watched_area => @watched_area } %>

<script type="text/javascript">
    $(document).ready(function () {
        var imageLoader = new ImageLoader({
            'imageContainerSelector': '.hero-header.<%= @watched_area.slug %>',
            'imageLoadedClass': '.hero-header-loaded'
        })
        var redRockController = new LandingController({
            'stid': 'rrkn2'
        });

        imageLoader.load();
        redRockController.initLandingView();

        $('#temp-notification').popover({
            trigger: 'focus',
            html: true,
            content: 'Tired of getting confused in the network of social trails out at Red Rock? So are we! SNCC is looking for 10 volunteers to be trained up as Trail Restoration Leads (with the help of BLM) and lead the charge in fixing our trails out at Red Rock.<br><br><a href="https://www.facebook.com/snclimberscoalition/posts/2745634102181578" target="_blank">Learn More</a>'
        });
    });
</script>