<div class="hero-header" id="particles-js">
    <div class="shadow-overlay"></div>

    <div class="hero-container">
        <h1 class="animated bounceInLeft delay-1s">Did it rain in Red Rock?</h1>
        <span>It's been...</span>
        <div class="row time-since-rain">
            <div class="days card">
                <p>0</p>
                <span>Days</span>
            </div>
            <div class="hours card">
                <p>19</p>
                <span>Hours</span>
            </div>
        </div>
        <div class="row call-to-action">
            <button class="btn weather">Weather</button> 
            <button class="btn faq">FAQ</button>
        </div>
    </div>

    <div class="plug">
        <i class="fab fa-instagram"></i>
        <p>Photography by David Zorzi</p>
    </div>

    <p class="scroll-down"><i class="material-icons">expand_more</i> Scroll Down</p>
    <div class="vertical-line"></div>
</div>



