<%= render :partial => 'hero_above_the_fold', :locals => { :watched_area => @watched_area } %>
<%= render :partial => 'graph_below_the_fold', :locals => { :watched_area => @watched_area } %>

<script type="text/javascript">
    $(document).ready(function () {
        var imageLoader = new ImageLoader({
            'imageContainerSelector': '.hero-header',
            'imageLoadedClass': '.hero-header-loaded'
        })
        var redRockController = new LandingController({
            'stid': 'rrkn2'
        });

        imageLoader.load();
        redRockController.initLandingView();

        $('#temp-notification').popover({
            trigger: 'focus',
            html: true,
            content: 'Support Red Rock by attending a community night hosted by SNCC. Proceeds go towards improving and maintaining climbing at Red Rock.<br><br><a href="http://www.southernnevadaclimberscoalition.org/rehab19/?src=wetrockpolice" target="_blank">Learn More</a>'
        });
    });
</script>