<div class="modal fade membership-signup-complete" tabindex="-1" data-backdrop="static" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your raffle entry has been received!</h5>
      </div>
      <div class="modal-body">
        <%= image_tag 'redrock/backdrop.jpg' %>
        <p>
          You've successfully entered into the SNCC April Wagbag Raffle! Your contribution
          is appreciated will go towards helping manage waste within Red Rock Canyon.
        </p>
        <p class="order-info">
          Order Confirmation: <strong><%= @raffle_entry.order_id %></strong>
        </p>
      </div>
    </div>
  </div>
</div>