@import "../vars.scss";

.membership-join {
    * {
        font-family: 'Montserrat', sans-serif;
    }

    &.header {
        min-height: 200px;
        background-color: #575050;
        display: flex;
        align-items: center;

        h2 {
            color: white;
            width: 100%;
            text-align: center;
        }
    }

    &.page-content form {
        padding-top: 50px;

        .divider {
            margin: 25px 0;
        }

        .submit-row {
            justify-content: center;
            margin: 50px 0;

            .btn-primary {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        .total {
            text-align: center;
            margin: 50px 0;
        }

        .order-note {
            font-size: 10px;
            margin: 50px 0;

            i {
                padding-right: 2px;
            }

            &.mobile {
                margin-bottom: 25px;
            }

            @media (max-width: $mobileBreakpoint) {
                margin: 25px 0 0 0;
            }
        }

        .validate-button {
            text-align: center;
            margin-bottom: 25px;
        }

        .error {
            color: red;
            text-align: center;
        }


        @media (max-width: $mobileBreakpoint) {
            .custom-control + .custom-control {
                margin-top: 0;
            }

            .mobile-divider {
                margin-bottom: 25px;
            }
        }
    }

    .payment-content {
        .flex-wrapper {
            min-height: calc(100vh - #{$footerHeight});
            align-content: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
        display: none;
    }

    #paypal {
        margin-top: 40px;
        justify-content: center;
    }

    .center {
        text-align: center;
    }
}