@import "vars";

body[data-page-controller="faqs"] {
    .faq-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .faq-hero {
        height: 400px;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: bottom;

        h1 {
            color: white;
            letter-spacing: 3px;
            margin-left: 15%;
        }
    }

    .faq-hero.redrock { 
        background-image: url("../images/redrock/faq.jpg");
    }

    .faq-hero.castlerock {
        background-image: url("../images/castlerock/faq2.jpg");
    }

    .faq-hero.stoneypoint {
        background-image: url('../images/stoneypoint/hero-image.png');
    }

    .faq-content {
        flex: 1;
        padding-top: 50px;
        padding-bottom: 100px;

        .about {
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
            margin-bottom: 25px;
            margin-top: 20px;
        }

        ul {
            padding: 0;

            li {
                list-style: none;
                margin-bottom: 25px;
                
                strong {
                    font-size: 20px;
                }

                p {
                    font-size: 16px;
                    margin-top: 15px;
                    padding-left: 20px;
                }
            }
        }
    }

    @media (max-width: $mobileBreakpoint) {
        .faq-hero {
            height: 200px;

            h1 {
                margin: 0 auto;
            }
        }

        .faq-content {
            padding-top: 25px;
        }
    }
}