.raffles-content {
  margin-bottom: 50px;
  min-height: calc(100% - 190px);

  p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
  }

  iframe {
    width: 95%;
    height: 315px;
  }

  .embed-container {
    margin-bottom: 20px;
  }

  .copy-container {
    text-align: left;
    margin-bottom: 20px;
  }

  .enter-raffle {
    margin: 3px;
    padding: 15px;
    span {
      display: block;
    }
  }
}