.raffle-title {
  font-family: 'Montserrat', sans-serif;
}
.raffle-sncc-logo {
  margin-left: 10px;
  margin-top: -14px;

  @media screen and (max-width: 768px) {
    margin-top: -10px;
  }
}
.raffles-content {
  margin-bottom: 50px;
  min-height: calc(100% - 190px);

  p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  form {
    padding-top: 0 !important;
  }

  iframe {
    width: 95%;
    height: 315px;
  }

  .embed-container {
    margin-bottom: 20px;
  }

  .copy-container {
    text-align: left;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      h1 {
        font-size: 30px;
        font-weight: bold;
      }
    }
  }

  .enter-raffle {
    margin: 3px;
    padding: 15px;
    span {
      display: block;
    }
  }

  @media screen and (max-width: 768px) {
    .col-12 {
      padding: 0;
    }
  }
}