@import "vars";

.tooltip-inner {
    max-width: 250px;
    font-size: 12px;
    text-align: left !important;
}

.popover-header {
    font-size: 18px !important;
}

.notification-menu {
    display: none;
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;

    i {
        font-size: 20px;
    }

    .badge-light {
        font-size: 10px;
        border-radius: 100%;
        background-color: #f44336;
        margin-left: -6px;
    }
}

.hero-header {
    position: absolute;
    width: 100%;
    height: 100%;

    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0Axmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%0Awidth%3D%222000%22%20height%3D%221400%22%0AviewBox%3D%220%200%202000%201400%22%3E%0A%3Cfilter%20id%3D%22blur%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%3CfeGaussianBlur%20stdDeviation%3D%2220%2020%22%20edgeMode%3D%22duplicate%22%20%2F%3E%0A%3CfeComponentTransfer%3E%0A%3CfeFuncA%20type%3D%22discrete%22%20tableValues%3D%221%201%22%20%2F%3E%0A%3C%2FfeComponentTransfer%3E%0A%3C%2Ffilter%3E%0A%3Cimage%20filter%3D%22url(%23blur)%22%0Axlink%3Ahref%3D%22data%3Aimage%2Fjpeg%3Bbase64%2C%2F9j%2F4AAQSkZJRgABAQEAYABgAAD%2F4QAiRXhpZgAATU0AKgAAAAgAAQESAAMAAAABAAEAAAAAAAD%2F2wBDAAIBAQIBAQICAgICAgICAwUDAwMDAwYEBAMFBwYHBwcGBwcICQsJCAgKCAcHCg0KCgsMDAwMBwkODw0MDgsMDAz%2F2wBDAQICAgMDAwYDAwYMCAcIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz%2FwAARCABQAHgDASIAAhEBAxEB%2F8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL%2F8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4%2BTl5ufo6erx8vP09fb3%2BPn6%2F8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL%2F8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3%2BPn6%2F9oADAMBAAIRAxEAPwD9YM4oqBkZKfGxxXGegWFXJ4qxCduM1TDbaa13t71i5Njtc1GuVUVXup9y%2FpWe2oqDyaa17kcc1JViaV9inmqk13mory93rWbcXrDv070DLNxfMOhqlc6j5a8tVG71E5PNcT8TfiIvhfR2kEiiRztTJrOVRR1ZUYuTsi148%2BJ0OkRyR%2BcI9vvya%2BPv2tv2vrrw8s2labqEmnzyRs32lU3AAbcjORgYYjPPOB3yHftL%2FGa40nRZJIrj%2FSr6UW0TAnKMwYkjHPCqT%2BFfGnjj4iE%2BL7m41Sz%2FALQhaNorWK4n%2FdqA2zdIVB%2BbO%2F5V%2BYs2dy4XPm1K0pSst%2B3U9rD4WKV2dNYftL2vgy61Czvpf7aj1fTp7Rp4nmgutPuni%2BRSjPHGE8xk3feyACGPzpXp37O37QF5q3hvS%2FO8VW%2Bn69HEt1pjy2LyTrDHEGdxIpLM5iSUKhU7if4iyLXyj4v%2BJE0%2BvTXVxa2DFt8QVYfLiiUquVGd2ByOvpzzybngP4vlfhD4ZMMltpMum2YtbcRs6yBTaGMsoAzkHOMH0zkCtqkqqVOcYWV1ez7p%2FqV9Wi%2FaQb1tpp2aPq5v2l%2FFQ8G%2BLrfR9ckuLy3t1vW1BZX%2FANIt3e3RBEzRxje32kOWK5CMMfMtFeA22uNeeDLXxDcXWm6rC2gz21zDY3sWwufmhBi8tWbM0fRdyuoOCCCQU8Qqyny0bWXe%2FwDmY4T2ThzVd32t%2FkfvUeaAuKAeaa77BXrnhJ3VyO7falZt1ebe9Sald4U1i396Fj5PNc5cSaTUufvU0atg%2Fernr3WRGT81Zd14nWH%2BL9amUrFHZ3GqKycvism%2B15Yi3zDFcTqfj5Yw37wDHv0rlNc%2BJ6LnEg9%2BaxlVNo0W9zt%2FFvjiOwt2YNzXy7%2B1H8erextFjkutjqcDbzgkgcfTI68VofFb44HTgFVvMDHGAeBXxf8AtKfEaTxVf%2FZf9TcMWeJ8lPmVXIyeBtDBeCeScYOeOOpNtXPQw1FJ2Ob%2BMfxz1ya2mjY2sjB5GVnQO8Q2KVwcY6MRzyQeRjaTwWnfaNb195764mm8nBDTlm%2BbIxgZzgIqrgdgBxWT4s1SztblLK6gkWa%2BndpB5rCZYAiBF3NkZ%2B%2BxLLncCfTFvRLtb020ki4gmnLlGXa5AJwvA6fTrx70RhyU0%2BrWr6%2F1uj2qMYuWq22X9fJlbxdf6RFPNJCrecsv3vLCkZwGyMkZ464FUIm8j4ZaPbwwlnWJVEnnlWDYGTt9OOuB%2BIIrpPCdha6t8T0t76z09rOESyyw3JYQzhY3dYj83JbBAHGOSMkbTleG5tQ1TT7X9yGjFrFLbJGQkcedxPzZBwG6EnOD3zxtzclNSfTuyuVVKzgu3Rf12OQE11a6xaW91NeWtxbbvOgDsscrqQ7qY8gLna3AHOOQeKK7TxN4Ykv7fR4be6lNnZ3GdTu2wyxTSLNhI2zmTcuAenzHptINFbVMVS09pf5a9f60OfD4WpqqSTs7O9l0X9X6n9G0NxuWo7i5AQ1Rtrnaeue3FRahfARHmvRaPjab6FTVtSWCN2ZuBXE%2BI%2FHtvbOVLrnoOeveuC%2FbK%2FafsP2d%2FhdfaxNH9uulZILeySTbJcSyOqIuQGIBZhkhWOAcKxwp%2FOzW%2Fjfq3xb8Vab8Q%2FFHiW3kt7Dz2stBt2ntbDSzG7pKvn4SW5EgiV3basYC7H8wfIcnTb2N47XZ%2Binib4qQWrZ8wc8da8%2F8SfHe2g3YnXABJJPAr5W8efto6b431rxLrvhuS4vNFh0xpoLpbszG1khbCJdW8sdu%2BZVMredbvOdscamIFGryXUP2iJ38VWd5azXkltaomr3Kw6glvLHFAsUjb2U7hubaoY7WyAF%2B82%2Fnnh53uzenVha3U%2BvfFP7QGyR9sy4ZS%2FDbsjB5rjZPjPNqbSSw3D7Y1LFWG3PXv%2BFfPPiuDX5PiJDaTw6lp95qnzIkySNHKAPNkChY0YuqkZVgrcgsoDAnBv8A4r33huO0to4drK0s3kvdbpJinyqjlCQNzlVIBU5DgcYrlqxah7u%2F9M7aTi5a%2FwBdD1P4kfGCGe%2FaNGeZ8uWKDIQZ7Y46Z%2FI%2BlfP3xG8Sx%2BPfEz3XmSt8qLsQbYU2szqd%2BQWkw%2FTAUbl5PQO%2BKmval4h8Y29uqxw2lkGZhG3ySStGqocbvmILqSefuk4wcHntUuYrWGRGaQyzS7A8jkDCg8DrknA%2FMZx0PPdqyW7%2FAA1PXwlGLUqktlt56EUuqamvh%2B8l0Wx024WOWKTUnks4p2htvNjVn81h5iKCRwhB5yeBXReAdCtdaubW61KaCwgPmRJNcTNHGZXzwCqOVVQrEnY2CBgY5GJqXhdrTTtNtf3MnnXK3F1%2B73bkGDg5%2B8C2F9cHg9CMr4h%2BJrqxu1tJJ3VZLdCwVctEvdV%2BuT2GeOBk04y9raFLe737f1%2FWp1Th7K8621lt3%2Fq39I3tYtF0%2B78QWNv9lbNw1jLcs0UwieIsrKs7DC7iR80ZC7XXkiqXhbUzFaSf6OtvZWdqsf72Q7bEBdxU7juwoYDncTtOemazLW%2Bh8StqEO%2B%2BunW3hudzx7W2mEL0XksGjIB9h1ORWZ4e1P8A4Sa81C3kTbaNaQ5UR7TcDC5ycHJIPzMQzHLEkkk1c6fNSlF9Lfdoc9GtyYiMu6e3fX%2FI7HxBZLqbWl3BGslvpV1HNA7v5G4iNg5AZcMBGzHkhmbaACaKuW1pFZ3Xl6mB5bKDt80ySSt8p3YAAXB4GTnhscplSufli4qM1drzsdjqzVSU6bSUtdr6%2FI%2Fa79mv9sTwr%2B1D4UuNT8OXEiyWsjJcWVwNlzAuFKSMn9yRXVlYZU8jO5WVfMv%2BCiH7WI%2BHvwd1Xw74d8QXWj%2BMdZa3s4NRs4ZJl0RZLhFlllkjVvKfyVm2g4bIyNuAw%2BBf2ffiRpvg7WdB1nTtS8WaL4qtVmsbuz0u2F5GLFypDqwdZF8oswIfO7zMmQkKBzXxzs9StfF%2BreMdJ8V6zpH2zUI%2FLhg1A%2BXJEU3ky2hImZwspdVYMdzOWVWVt30sPfhzHw9Siqddw2t3%2FU5%2F4v8AxK1j46eOftXiTxVf65b%2BFdJk%2BxzXLx2k9zIyLne0mzdIImLu21WZU28lSzeSv8UfE3hbxPbXUN7cW8mnvNM0FykSTQmRXBO9l3bSJSxTO0luFO5g2t4q1lfF3h3Vri8uJIZJmkubqe%2BjS3e8bIlmyka4RtrIoRRySy5Pfxe08RsNShhklW3hluozPti%2B8oLFiV5DEjOc5%2B8RjGQXh%2Ffbb6HZiIqnGMF1R9Tax4v%2BGnxR8bald6LoviLwSt8k17E%2Bi6tA32QoyuoczyRwmMqZABGIclIlVQXYjhPEnw51LX%2Fs9%2Fo0N3c272Ec929qqTIBiSHzIl3BjH9%2Fcp5VkIbAKivK%2FAc9rJptzJdb5JdQmZCQuyGPaCMbshR1Y4HTJ46Z9b%2BC3xx0zRPgrqPh3V%2FDtnNrGk37xWmtRNJFdWBkEAeGcMHURqz3Lnahcu46BQG0jUUZOPayOOph5ckZR1vd%2Fd%2FwDpNJ%2BLtjB4Wkm1nU9YjmltI7fTrIgppMDZtj%2FajrHOjLPsifKon7yRzIzNhQl28ht%2Fhn4V1bWtT0vUPEU1qInnWxY2U1vGQiFGuFjeMYZlYb4dmHcnLlVrx2012y%2BI%2Fhi%2BuNRvGkt7SIJA9o3ynyIdkSgSAnycIBtbadqryACD6n8LdTe90rR5pbWxaxgtZJw2o2aSxXly7SyKlvsYSI3lFE2EgvKcAAspGNJc8WpdNDTFfu5xcdmkzFttOvNf1C31wWe5prRUE1uFMMNy%2BxjE%2FQ5EeRwCpLZDEqaoy7YnjhuP8AWRQsztISx3MfmJ5xkZORjLZ5IHWHxn4zj0zRLizaRVvtUlaaT7OceXHnOABgEkFFJ5DbR1wC2BFpWpeJbv8AcxztDI6wDnb5hXA2qvViOuOoyfrXj%2Bz53zv3Y7L%2Bvmz6X23sYKnu3q%2FXt%2BCOnsvGFvolpdtYbtY1K5nTZPsZggPBwxGSeONoP3sYwTTV%2BG11fa7dXmtBvLjjDyDZ5syo33QE749RnBxn0r0iH4Z6H8PPEkcdx5lxY6bbhvmY%2Bfdv5fzyAKF2KGkAXA35XvyWx%2FBUf%2FCD2N7DMkStpO%2B%2B1CO4jZbi6iRHKhQ%2BMRlnABUPvYAYTNccasbXodba97%2Fla3br6mk6vSstnouit%2BL379PM5%2FQv2a9autTbXZPDLXHh5AYv7UuHMNrEu2SQNLKF8tH5A5IGMEdVNb3gTRtD%2BFF34ivLXU7C%2BbwraLfrLazLNZ3qTGOOKEXG12YEyfdIXIVixXGBzt%2F8T%2FFHhrxBfXEmlLLPqli0V9Z2ty1wiqXQQ7kORtfzX%2FhZWMcQzjhoLfUBqupWtj4kmuodFv7T7NpN3Y2VvJe2cjLEYVe2CrPIseHVmRGAcrsIDKK9OFF1IWk9H2fb%2Bulj57E4ucJc0Uuu6797nqravJp9wulWMeprrE0iRX0SaW13JFtCtt8sNhY3LwwoFwgCEkAncxXE%2BCviI3xK1q3h1pzZizt3i0S%2FmlisoreS4jT%2FAEOcXV00U0P7uJnJSWRl4yoCFCm8toS1cb%2Fj%2BZyrHYhbSa%2FD8jP1q6XwD4dbVrMX0NvYt9vtbiQDy5ZY%2FlV8Nx5ZaMbhtI2lhz3sfEX9q3VLTwEv9oaXdaxqsdrBHPqV9I3kosSJMYktwFtpVdhu%2FeiQsY5xgCRjXSeNvANx8RPGK%2BFrW2sdL03WHSxhuYLT%2B0fLjR8sHSDfLkOJVxGGZzIwXO3aPO9c0%2BfxFp9zDC17Z2dxoFpeXLDzN0ijM53RK6oWVtpQlsZPbLAaYGp7Ozn11%2BWlv1PQzKca%2FwAC2SX3Xv8Afozltb8W2snw%2Fmjf7XNdXEdgkNyLuKSFyqG7mMm1c7mklYKgIKbBu3EArxvgPTY5vFFmkiKzNZzXTKWVlC5aIkrnhlJ4z1GDgdTv%2BEvh9cadLrXhXW7N7eTw%2BHljnu5Us47ryfmMUMkp2iSSJGwql2IZQoYcHK1HxBokt7qklrYwvHZ6R9gju0uZFnim3QsJHJVRIFUNEFZfmG45G1CPS9naMorqcKxHNKMt2jR8BX9nq3iHQ7G3uLzRrK1kuLsujNeTxuNrBzGpjDFGGVGUGSOeDUHw9sYfFfh6%2FtJo766WfVpmkliGWkIVAz43FhggAt0TcD8x2hs74ZfbLnXtlnLM15JYuA1vBvlYlhkgDknjOP8Aa%2BtexfDzw1JdaPaQXNrJFZ2sws4YjF5LahIZHZnfncMyF%2BfvfvQqjBG3zsZVjSv5WfXuz1MJTlUs290107LY8d8G6Nd%2BHfgt4ltftEa3K3P2aWZXKrIAuAqggHBOeDjGT0r0j4M2Uvjfw34Z0fT7rUpJNYvYks7q4WWPT4pI2BliZijZbaF2BCGUlCdoRt%2Fm%2Fi7UoF%2BJ%2FjO2j%2Fs%2FTtJuFVo4janY5TywfJTaxwSPvnJ6MzFiSfSP2SNJ%2FwCEL8Vapr00kdn4fsmYaPJe3O2QyKxjJQOBuKhCdwQAlnGMghNa1aVPD1Kq3lqvVpHnRjGpXpUukNH8mz1rXvhte6bqSaWumwhtDcl72PLxXbSGLzHk2gbR%2B7iVAx4C7ihywXsvAc2m%2FA7wB%2Faq6dD9subNXjuHUfaLwvtOSTtEabpFVUXKnKDduIB5HQfHGk33w6m3aol1qfii%2FS%2F1FjciMmHzBGiM%2BAnlFVKsw25VyFBJAHI%2FEv4jat431bTfJm0%2B6uLeFNW%2BVzDa2ruwDzoVHnOq7UwqFgABsBdiK%2BVjhqtX91U%2BFPXfX%2FgXv%2FkfS1MVCF6sPie3lf8AW3Y9Us%2FE1v8AEm38%2B7smuJFllMlwwnt1iX7PIkrxShyWRUk2YJwX2uMkjy%2BLvPEmn%2BCtetxH9lt9W1vTpWS0SKeBTIoZ453VC77AkBCqpLn5GyzKKb4U1fUrHRpptShv4Ib4iBNNViskaM7M0lyiogAKlmMeVJCAlVbGPMfiZqGn6%2F8AFn7TNcz3mi6YxVJ7CY%2BbskRi25i%2B1dplbCggKFAZuCa7sPh7ycenl%2BX3nJiKyUIze%2Fn%2BZ0mgeFfEdnNr2sah9sW71iM6dZCWTzWi87o4JLMAirtw2NwZxkYybNl40s%2Fihoo0PVtJ1J9a1CCWN3SzF5cRXkXElyjsw3EMqAsrqSsIXG1QBxU3ie3%2BJ1pDa6pqemWcbXctyIUF2ZrlnlCIUlMbxoioscYILH5Tx1qTSdFtPCnxC02PTdQ0vWNWtYwkwa5OJA8TSEoZVVUlwFZQhDnLAOctj0PZyfxb%2Fdsea%2BXRR1i97%2BY65%2BK9zp%2FgyXw%2B2nww%2BEdFtpREbWwtlvIbguriSZxsnaJiyAPLu8vHDOULkrWn8U3cfiXT73VNYnnvL4T290jQLiO0cEpsVZMu3mogz5nIkdtp2iiuj60k7SRxfUZy%2BB6H%2F9k%3D%22%0Ax%3D%220%22%20y%3D%220%22%0Aheight%3D%22100%25%22%20width%3D%22100%25%22%2F%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-header-content {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;

    .shadow-overlay {
        width: 100%;
        height: 100%;
        opacity: .5;
        position: absolute;
        background-color: #272727;
    }

    .hero-container {
        top: 35%;
        position: absolute;

        h1 {
            font-size: 62px;
            text-align: center;
            font-weight: 600;
            letter-spacing: 5px;
        }

        span {
            font-style: italic;
            letter-spacing: 2px;
        }

        .time-since-rain {
            margin-top: 25px;
            justify-content: center;
    
            .card {
                width: 100px;
                height: 100px;
                margin: 20px;
                justify-content: center;
                background-color: rgba(255, 255, 255, 0.8);
    
                p {
                    color: #272727;
                    margin: 0;
                    font-size: 40px;
                    font-family: sans-serif;
                }

                span {
                    color: #272727;
                }

                .placeholder {
                    padding: 18px 0;
                }
            }

            i {
                color: white;
                font-size: 16px;
            }
        }

        .call-to-action {
            margin-top: 50px;
            justify-content: center;

            .weather,
            .faq {
                width: 175px;
                font-size: 14px;
                letter-spacing: 2px;
                text-transform: none;
            }

            .weather {
                color: #272727;
                padding: 10px 0;
                font-weight: 600;
                margin-right: 15px;
                background-color: white;

                i {
                    margin-right: -5px;
                }
            }

            .faq {
                color: #fff;
                border: 2px solid #fff;
                background-color: transparent;
            }
        }
    }

    .plug {
        left: 15px;
        bottom: 15px;
        position: absolute;

        .fa-instagram {
            color: #edc650;
            border: 2px solid #edc650;
            padding: 5px;
            border-radius: 50%;
        }

        p {
            color: #edc650;
            display: inline;
            font-size: 12px;
            text-decoration: none;
        }
    }

    .scroll-down {
        right: 110px;
        color: #edc650;
        bottom: 77px;
        position: absolute;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 3px;
        font-family: 'Montserrat', sans-serif;
    }

    .vertical-line {
        width: 2px;
        right: 90px;
        height: 100px;
        bottom: 0;
        position: absolute;
        background-color: #edc650;
    }
}


.weather-breakdown {
    .container {
        max-width: 1070px;
        margin: 0 auto;
        padding-top: 60px;
        text-align: center;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .header {
        h2 {
            display: inline-block;
            color: #272727;
        }

        strong {
            font-size: 32px;
            margin-left: 4px;
            color: #272727;
        }

        .loading-date {
            display: inline;
            margin-left: 5px;
        }

        a {
            color: #272727;
            display: block;
            font-style: italic;
            font-size: 12px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .content {
        padding-top: 40px;

        .graph {
            position: relative;

            .graph-switcher {
                text-align: right;
                position: absolute;
                right: 10px;
                z-index: 5;
    
                .daily-switch {
                    padding-right:20px;
                }
    
                .custom-switch {
                    display: inline-block;
                }
            }

            .graph-render {
                height: 450px;
            }
        }

        .text-content {
            margin: auto 0;
            text-align: left;
            letter-spacing: 1px;
            font-size: 14px;
            padding: 40px 15px 0 15px;
            display: flex;
            flex-direction: row;

            .cta {
                padding: 0 60px;
                display: flex;
                align-items: center;

                .rainy-day-crags {
                    padding: 15px 25px;
                }
            }
        }
    }
}

@media (max-width: $mobileBreakpoint) {
    .hero-header {
        .hero-container {
            top: 10%;

            h1 {
                font-size: 44px;
            }

            .time-since-rain {
                margin-top: 5px;
            }

            .call-to-action {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .weather {
                    margin-right: 10px;
                    padding: 14px 20px;
                }

                .weather,
                .faq {
                    display: block;
                    margin: 12px 10px;
                    width: 205px;
                    padding: 14px 20px;
                }
            }
        }

        .scroll-down,
        .vertical-line {
            display: none;
        }
    }

    .weather-breakdown .content {
        .text-content {
            display: block;

            .cta {
                padding: 40px;

                .btn {
                    padding-left: 35px;
                    padding-right: 35px;
                }
            }
        }

        .graph .graph-switcher {
            text-align: center;
            position: relative;
            margin: 0;
            padding-bottom: 20px;
        }

        .overflow-wrapper {
            overflow-x: scroll;

            .graph-render {
                height: 300px;
                width: 600px;
            }
        }

        .content-widget {
            padding-bottom: 20px;
        }
    }
}