<div class="faq-wrapper">
    <div class="faq-hero <%= @watched_area.slug %>">
        <h1>FAQ</h1>
    </div>

    <div class="faq-content">
        <div class="container">
            <a href="/<%= @watched_area.slug %>"><i class="fas fa-arrow-left"></i> Back</a>
            <p class="about">
                Wet Rock Police is a site developed for the purpose of <strong>informing</strong>, not policing (as the name might imply). There are no, and will never be, plans to
                create any form of monitization on this website. Below you will find a list of commonly asked questions; if you have further questions, complaints, or requests
                feel free to email me at <a href="mailto:gmercer015@gmail.com">gmercer015@gmail.com</a>
            </p>

            <ul>
                <% @watched_area.faqs.each do |faq| %>
                    <li>
                        <strong><%= faq.question %></strong>
                    </li> 
                    <li>
                        <%= faq.answer.html_safe %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>