<div class="weather-breakdown" data-role="weather-section">
  <div class="container">
    <div class="header" data-aos="fade-up">
      <h2>The last recorded precipitation was on</h2>
      <div class="spinner loading-date" data-role="loading-date">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <strong data-role="last-rain-date"></strong>
      <a href="<%= current_faq_path(@watched_area) %>"> Where does this data come from?</a>
    </div>

    <div class="content">
      <div class="graph" data-aos="fade-up">
        <div class="graph-switcher">
          <label class="custom-control-label daily-switch" for="graphSwitch">Daily</label>
          <div class="custom-control custom-switch">
            <input class="custom-control-input" id="graphSwitch" type="checkbox">
            <span class="custom-control-track"></span>
            <label class="custom-control-label" for="graphSwitch">Hourly</label>
          </div>
        </div>
        <div class="overflow-wrapper">
          <div class="graph-render" style="position: relative;">
            <canvas id="timeSeries"></canvas>
          </div>
        </div>
      </div>
      <div class="text-content" data-aos="fade-up">
        <div class="text">
          <%= render :partial => 'supporting_information' %>
          <a class="btn faq" href="<%= current_faq_path(@watched_area) %>">FAQ</a>
        </div>
        <div class="content-widget" data-aos="fade-up" id="customize-script-container">
          <%= render :partial => 'darksky_widget' %>
        </div>
      </div>
    </div>
  </div>
</div>