html, body {
  max-width: 680px;
  margin: 0 auto;
}

p, h3, strong, li, span {
  font-family: 'Open Sans';
}

span {
  font-size: 12px;
}

.logo {
  width: 80px;
  margin-bottom: 40px;
}

.logo img {
  max-width: 100%;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header i {
  font-size: 100px;
  color: green;
}

.header h3 {
  font-weight: normal;
  font-size: 23px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.header p {
  font-size: 12px;
}

.banner p {
  font-size: 12px;
}

.thank-you-box p {
  font-size: 14px;
}

.order-details ul {
  list-style: none;
  padding: 0;
}

.order-details li {
  list-style: none;
  font-size: 14px;
}

.order-details .shirts {
  display: inline-block;
}

.order-details .shirt-list {
  padding: 0;
  display: inline-block;
  margin: 0;
  margin-right: 5px;
}

.order-details .total {
  display: inline-block;
  margin: 0;
  margin-right: 5px;
  margin-top: 5px;
}