.email-body {
  max-width: 680px;
  margin: 0 auto;
}

.email-body p,
.email-body h3,
.email-body strong,
.email-body li,
.email-body span {
  font-family: 'Open Sans';
}

.email-body span {
  font-size: 12px;
}

.email-body .logo {
  width: 80px;
  margin-bottom: 40px;
}

.email-body .logo img {
  max-width: 100%;
}

.email-body .header {
  text-align: center;
  margin-bottom: 40px;
}

.email-body .header i {
  font-size: 100px;
  color: green;
}

.email-body .header h3 {
  font-weight: normal;
  font-size: 23px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.email-body .header p {
  font-size: 12px;
}

.email-body .banner p {
  font-size: 12px;
}

.email-body .thank-you-box p {
  font-size: 14px;
}

.email-body .order-details ul {
  list-style: none;
  padding: 0;
}

.email-body .order-details li {
  list-style: none;
  font-size: 14px;
}

.email-body .order-details .shirts {
  display: inline-block;
}

.email-body .order-details .shirt-list {
  padding: 0;
  display: inline-block;
  margin: 0;
  margin-right: 5px;
}

.email-body .order-details .total {
  display: inline-block;
  margin: 0;
  margin-right: 5px;
  margin-top: 5px;
}