<!DOCTYPE html>
<html>
  <head>
    <title>Wetrockpolice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <div class="footer">
      <div class="footer-container">
        <p>For site issues or suggestions: </p>
        <a href="mailto:gmercer015@gmail.com">gmercer015@gmail.com</a>
      </div>
    </div>
  </body>
</html>
